
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Configure Sensor</title>

    <link href="{{url_for('static',filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'css/menu.css')}}" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static',filename = 'favicon.ico')}}">
    <link href="{{url_for('static',filename = 'css/sticky-footer.css')}}" rel="stylesheet">
    <script type="text/javascript" src="{{url_for('static',filename = 'js/jquery-3.2.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>

    <script>
      let ipTypeRegexp = /^([0-9]|1[0-9]{1,2}|2[0-5]{2})$/
      let errorRegexp = /^0\d$/
      function filterIllegalInput(val){
          //内容过滤
          $("#"+val).val($("#"+val).val().replace(/[^0-9]/ig,""))//过滤非数字输入
          if(!ipTypeRegexp.test($("#"+val).val())){//校验不通过：0开头，向上取整255
              if(errorRegexp.test($("#"+val).val())){//0开头输入
                  $("#"+val).val($("#"+val).val().substr(1))
              }
              if(parseInt($("#"+val).val())>255){//大于255相当于输入255
                  $("#"+val).val("255")
              }
          }
          //自动换框
          if($("#"+val).val().length==3){//当前输入框3位满了以后光标自动跳到下一个输入框
                  let nextInput = parseInt(val.charAt(val.length-1))+1
                  if(nextInput!=5){//最后一格满了以后不会继续往后跳
                      let nextItem = val.replace(/\d/ig,nextInput)
                      $("#"+nextItem).focus()
                  }
          }
          if($("#"+val).val().length==0){//当前输入框无内容时光标自动跳到上一个输入框
              let lastInput = parseInt(val.charAt(val.length-1))-1
              if(lastInput!=0){//第一格无内容以后不会继续往前跳
                  let lastItem = val.replace(/\d/ig,lastInput)
                  $("#"+lastItem).focus()
              }
          }
      }
    </script>


  </head>

  <body>

    <div class="container">
      <div class="card card-container">
          <!-- <img class="profile-img-card" src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2Fc%2Fc3%2FPython-logo-notext.svg%2F1200px-Python-logo-notext.svg.png&f=1" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="{{url_for('static',filename = 'images/pifi_logo.png')}}" />
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                  <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Pose</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Room</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Server</a>
                  </li>
                  </ul>
                  <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                  
                    <form class="form-signin" action="/setposition" method="POST">
                      <h1 class="h3 mb-3 font-weight-normal">Set Sensor Pose</h1>

                      <div class="form-group">
                        <label for="sensorHeight">Sensor height</label>
                        <input type="text" name="sensorHeight" id="sensorHeight" class="form-control" value="{{sensor_height}}" required autofocus>
                      </div>
                
                      <div class="form-group">
                        <label for="sensorYaw">Yaw Angle</label>
                        <input type="text" name="sensorYaw" id="sensorYaw" class="form-control" value="{{sensor_yaw}}" required>
                      </div>
                      <div class="form-group">
                        <label for="sensorPitch">Pitch Angle</label>
                        <input type="text" name="sensorPitch" id="sensorPitch" class="form-control" value="{{sensor_pitch}}" required>
                      </div>
                
                      <button class="btn btn-lg btn-primary btn-block text-center" type="submit">Set</button>
                    </form>

                  </div>
                  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                  
                    <form class="form-signin" action="/setboundbox" method ="post">
                      <h1 class="h3 mb-3 font-weight-normal">Set Room Box</h1>

                      <div class="form-group">
                        <label for="inputLeftX">Border Left X:</label>
                        <input type="text" name="leftX" id="inputLeftX" class="form-control" value="{{leftX}}" required autofocus>
                      </div>
                
                      <div class="form-group">
                        <label for="inputRightX">Border Right X:</label>
                        <input type="text" name="rightX" id="inputRightX" class="form-control" value="{{rightX}}" required autofocus>
                      </div>
                
                      <div class="form-group">
                        <label for="inputNearY">Border Near Y:</label>
                        <input type="text" name="nearY" id="inputNearY" class="form-control" value="{{nearY}}" required autofocus>
                      </div>
                
                      <div class="form-group">
                        <label for="inputFarY">Border Far Y:</label>
                        <input type="text" name="farY" id="inputFarY" class="form-control" value="{{farY}}" required autofocus>
                      </div>
                      
                      <div class="form-group">
                        <label for="inputBottomZ">Border Bottom Z:</label>
                        <input type="text" name="bottomZ" id="inputBottomZ" class="form-control" value="{{bottomZ}}" required autofocus>
                      </div>
                      
                      <div class="form-group">
                        <label for="inputTopZ">Border Top Z:</label>
                        <input type="text" name="topZ" id="inputTopZ" class="form-control" value="{{topZ}}" required autofocus>
                      </div>
                
                      <button class="btn btn-lg btn-primary btn-block text-center" type="submit">Set</button>
                    </form>
                  
                  </div>
                  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    <form class="form-signin" action="/setserver" method ="post">
                      <h1 class="h3 mb-3 font-weight-normal">Set Service Server</h1>

                      <div class="form-group">
                        <label for="serverAddr" class="col-md-6 control-label align-cent">Server Web Site:</label>
                        <input type="text" id="ipAddr" name="serverAddr" onkeyup="filterIllegalInput('serverAddr')" class="ip-input"  value="{{server_addr}}" autocomplete="off">.
                      </div>
                      <div class="form-group">
                        <label for="serverPort" class="col-md-6 control-label align-cent">Server Port:</label>
                        <input type="text" id="serverPort" name="serverPort" class="form-control"  value="{{server_port}}" autocomplete="off">.
                      </div>

                      <button class="btn btn-lg btn-primary btn-block text-center" type="submit">Set</button>
                    </form><!-- /form -->
                  </div>
                  </div>
         
      </div><!-- /card-container -->
  </div><!-- /container -->

  </body>
